<div class="grid">
    <div class="grid__item desk-one-quarter lap-one-third palm-one-whole">
        <div class="impress">
            <p>Organized by:</p>
        </div>
    </div><!--
    --><div class="grid__item desk-one-quarter lap-one-third palm-one-whole">
        <div class="contact">
            <div class="address vcard">
                <div class="org">
                    <div class="fn organization-name">asquera GmbH</div>
                    <div class="email"><a href="mailto:info@asquera.de">info@asquera.de</a></div>
                    <div class="adr">
                        <div class="street-adress">Ohlauer Straße 43</div>
                        <div>
                            <span class="postal-code">10999</span>
                            <span class="locality">Berlin</span>
                        </div>
                        <div class="country-name">Germany</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--
    --><div class="grid__item desk-one-quarter lap-one-third palm-one-whole">
        <a href="imprint/">Imprint</a>
    </div>
</div>
