<div class="location vcard hcard">
    <div class="org">
        <h3>Location</h3>
        <div class="fn organization-name">{{ location.name }}</div>
        <div class="adr">
            <div class="street-adress">{{ location.street }}</div>
            <div class="postal-code">{{ location.uzip }}</div>
            <div class="country">{{ location.country }}</div>
        </div>
    </div>
</div>
