---
layout: main
title: elasticsearch hackfest
description: Team up and build something cool with Elasticsearch at the hackfest. Also a great chance to meet some of the core comitters.
---

<div class="intro">
    {% capture intro_text %}{% include texts/intro.md %}{% endcapture %}
    {{ intro_text | markdownify }}
</div>

<div class="signup">
    {% capture signup_text %}{% include texts/signup.md %}{% endcapture %}
    {{ signup_text | markdownify }}
</div>

<div class="projects-teaser">
    {% capture projects_teaser_text %}{% include texts/projects.md %}{% endcapture %}
    {{ projects_teaser_text | markdownify }}
</div>

<ul class="events">
    {% for event in site.data.events %}
    <li class="event">
      {% include event.liquid %}
    </li>
    {% endfor %}
</ul>


<div class="code-of-conduct">
    {% capture coc_text %}{% include texts/coc_short.md %}{% endcapture %}
    {{ coc_text | markdownify }}
</div>

<div class="supporters">
    {% include supporters.liquid %}
</div>
