$green1: #74b73f;
$green2: #27ae60;
$blue1: #2980b9;

$grey-dark: #343538;
$grey-neutral: #61646b; /* "mittelgrau" */
$grey-light: #c2c2c2; /* "mittelgrau hell" */
$grey-lighter: #e2e2e2; /* "hellgrau" */

$black: #000;
$white: #fff;
