
.events {
    list-style: none;
    margin: 0;

    .event {
        margin-bottom: $base-spacing-unit;

        h3 {
            color: $grey-dark;
        }

        .technical-date {
            display: none;
        }

        .date {
            margin-top: 1rem;
        }

        .location {
            margin-top: 1rem;

            .adr {
                margin-bottom: 1rem;
            }
        }
    }
}
