
.page-footer {
    color: $white;
    background-color: $green1;
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;

    h4 {
        margin-bottom: 0.5rem;
    }

    p {
        margin: 0;
    }

    a {
        color: $white;
        text-decoration: underline;
    }

    .address {
        margin-bottom: 0.5rem;
    }
}
