
.page-footer {
    color: $white;
    background-color: $green1;
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;

    h4 {
        margin-bottom: 0.5rem;
    }

    p {
        margin: 0;
    }

    a {
        color: $white;
        text-decoration: underline;
    }

    .organizer-label {
        @include media-query(palm) {
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    .contact {
        text-align: center;
        margin-bottom: 1rem;
    }

    .imprint-link-box {
        text-align: right;

        @include media-query(palm) {
            text-align: center;
        }
    }

    .create-attribution {
        text-align: right;

        @include media-query(palm) {
            text-align: center;
            margin-top: 1rem;
        }
    }
}
