@charset "UTF-8";

@import "vars";
@import "inuit.css/inuit";
@import "addons";

@import "colors";
@import "typography";

@import "herounit";
@import "events";
@import "supporters";
@import "footer";

.page-margin {
    max-width: 980px;
    margin: 0 auto;
    padding-right:20px;
    padding-left:20px;
}

.main {
    padding-bottom: 1*$base-spacing-unit;
    $gradient-top: #F1F1F1;
    $gradient-bottom: #FFFFFF;
    $gradient-height: 128px;
    background: linear-gradient(to bottom, $gradient-top 0px, $gradient-bottom $gradient-height); /* W3C */
    background: -webkit-linear-gradient(top, $gradient-top 0px, $gradient-bottom $gradient-height); /* W3C */
}

.impress {

    .legal {
        margin-top: $base-spacing-unit;
    }
}
