@charset "UTF-8";

@import "_vars";
@import "inuit.css/inuit";
@import "_addons";

@import "_colors";
@import "_typography";

@import "_herounit";
@import "_events";
@import "_supporters";
@import "_footer";

.page-margin {
    max-width: 980px;
    margin: 0 auto;
    padding-right:20px;
    padding-left:20px;
}

.main {
    padding-bottom: 1*$base-spacing-unit;
    $gradient-top: #F1F1F1;
    $gradient-bottom: #FFFFFF;
    $gradient-height: 128px;
    background: linear-gradient(to bottom, $gradient-top 0px, $gradient-bottom $gradient-height); /* W3C */
    background: -webkit-linear-gradient(top, $gradient-top 0px, $gradient-bottom $gradient-height); /* W3C */

    .intro {
        margin-top: 65px;
    }
}

.impress {
    .legal {
        margin-top: $base-spacing-unit;
    }
}
