
.supporters {

    .grid {
        margin-top: -1rem;
    }

    .supporter {
        border: 1px solid $grey-light;
        border-radius: 2px;
        padding: 1rem;
        margin-top: 1rem;

        .supporter-logo {
            .supporter-logo__image_box {
                height: 5rem;
                display: table;
                width: 100%;

                .image_box__inner {
                    display: table-cell;
                    vertical-align: middle;
                    width: 100%;

                    .supporter-logo__image {
                        width: 128px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 0.5rem;
                        display: block;
                        @include media-query(palm) {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        &.supporter-main {
            .supporter-logo__image_box {
                height: 2rem;
                .supporter-logo__image {
                    width: 200px;
                }
            }
        }

        &.asquera {
            .supporter-logo {
                .supporter-logo__image_box {
                    .supporter-logo__image {
                        width: 64px;
                    }
                }
            }
        }
    }
}
