
.supporters {

    .grid {
        margin-top: -1rem;
    }

    .supporter {

        border: 1px solid $grey-light;
        border-radius: 2px;
        padding: 1rem;
        margin-top: 1rem;

        .supporter-logo {
            width: 128px;

            .supporter-logo__image_box {

                height: 5rem;

                .supporter-logo__image {
                    width: 128px;
                }
            }
        }

        &.supporter-main {
            .supporter-logo__image_box {

                height: 2rem;

                .supporter-logo__image {
                    width: auto;
                }
            }
        }

        &.asquera {

            .supporter-logo__image_box {

                .supporter-logo__image {
                    width: 64px;
                }
            }
        }
    }
}